@using Proje1.Models;
@model Product;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="~/css/StyleSheet.css">
	<title>EDIT</title>
</head>

<body>

	<div class="basliq w-100">
		<div class="elaqe text-light d-flex">
			<div class="container w-75 pt-2 px-5">
				<p class="d-inline-block">Dəstək xidməti: (012) 599-08-02; (012) 505-08-02</p>
				<a href="" class="text-light mx-2">RU</a>
				<a href="/Home/Like" class="text-light mx-2"><i class="fa-solid fa-heart"></i> Secilmisler</a>
				<a href="/Home/Giris" class="text-light mx-2"><i class="fa-solid fa-user"></i> Giris</a>
			</div>
		</div>
		<div class="secim1">
			<div class="container d-flex justify-content-between">
				<nav class="d-flex justify-content-between mx-auto">
					<ul>
						<li class="d-inline-block mx-2">
							<a href="/Home/Index" class="text-light">
								<img src="https://bina.azstatic.com/assets/application/header-tabs/binaaz-logo-107847efc4c9cede987e172b22034c7dc6893bf9bc1a4805b540a53b522031a2.svg">
							</a>
						</li>
						<li class="d-inline-block mx-2"><a href="/Home/AlqiSatqi" class="text-light">Alqi-satqi</a></li>
						<li class="d-inline-block mx-2"><a href="/Home/Kiraye" class="text-light">Kiraye</a></li>
						<li class="d-inline-block mx-2">
							<a href="/Home/Agentlik" class="text-light">Agentlikler</a>
						</li>
						<li class="d-inline-block mx-2">
							<a href="/Home/Kompleks" class="text-light">
								Yasayis
								kompleksleri
							</a>
						</li>
						@if (User.Identity.IsAuthenticated)
						{
										<li class="d-inline-block mx-2"><a href="/" class="text-light">@User.Claims.SingleOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Name).Value</a></li>
										<li class="d-inline-block mx-2"><a href="/Admin/Cixis" class="text-light">Cixis</a></li>
						}
					</ul>
					<a href="/Home/ElanYerlesdir">
						<button class="text-light">
							<i class="fa-solid fa-plus p-1 rounded-circle me-2"></i>Elan
							yerlesdir
						</button>
					</a>
				</nav>
			</div>
		</div>
	</div>

	<section class="section12 w-100 px-5">
		<div class="container w-75 p-3">
			<h2 class="text-center text-light bg-success h4 rounded p-2">Elani Deyismek</h2>
			<div class="elan w-100">
				<div class="sol w-100 m-2">
					<form asp-action="Edit" asp-controller="Admin" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
						@*<form action="@Url.Action("Edit", "Admin", new { id = Model.ProductId })" method="post" enctype="multipart/form-data">*@
						<div class="men my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Mən</p>
							<div class="w-75 d-flex justify-content-between">
								<select class="w-50" asp-for="ProductMenzilId" asp-items="ViewBag.Menzil">
									<option value="0"></option>
								</select>
								<select class="w-50 ms-1" asp-items="ViewBag.AlisKiraye" asp-for="ProductAlisKirayeId">
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="seher my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Şəhər</p>
							<select class="w-75" asp-items="ViewBag.Seher" asp-for="ProductSeherId">
								<option value=""></option>
							</select>
						</div>
						<div class="sahe my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Sahə</p>
							<input type="number" asp-for="ProductArea">
						</div>
						<div class="melumat my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Əlavə məlumat</p>
							<textarea name="" id="" cols="64" rows="9"></textarea>
						</div>
						<div class="qiymet my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Qiymət</p>
							<div class="d-flex flex-wrap">
								<input type="number" asp-for="ProductPrice">
								<p class="d-inline-block ms-1">AZN</p>
							</div>
						</div>
						<div class="unvan my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Ünvan</p>
							<input type="text" class="w-75" asp-for="ProductLocation">
						</div>
						<div class="rayon my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Rayon</p>
							<div class="w-75">
								<select class="w-100 py-2" asp-items="ViewBag.Rayon" asp-for="ProductRayonId">
									<option value=""></option>
								</select>
								<button class="px-2 mt-2 py-1 rounded fw-bold">Xeritede gostermek</button>
							</div>
						</div>
						<div class="sekil my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Şəkillər</p>
							<div class="w-75">
								<input type="file" name="Photo" multiple>
								<ul>
									<li class="lh-1 w-100 mb-1">Şəkillərin minimal sayı — 4 ədəd</li>
									<li class="lh-1 w-100 mb-1">
										Binanın birinci mərtəbədən başlamaqla tam şəklinin
										olması
										mütləqdir
									</li>
									<li class="lh-1 w-100 mb-1">Şəkillərin optimal ölçüləri — 800 x 600 pikseldir</li>
								</ul>
							</div>
						</div>
						<div class="elaqedar my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Əlaqədar şəxs</p>
							<div class="w-75 d-flex flex-wrap">
								<input type="text" class="w-100">
								<label for="" class="lh-1 w-100 mb-1">
									<input type="radio">Öz elanımı
									yerləşdirirəm
								</label>
								<label for="" class="lh-1 w-100"><input type="radio">Mən vasitəçiyəm (agent)</label>
							</div>
						</div>
						<div class="mail my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">E-mail</p>
							<input type="text" placeholder="saytda gosterilmir" class="w-75">
						</div>
						<div class="telefon my-2 d-flex flex-wrap">
							<p class="w-25 fw-bold">Telefon</p>
							<input type="number">
						</div>
						<div class="davamet mt-3  my-2 d-flex flex-wrap">
							<p class="w-75 lh-1 mb-1 w-25 fw-bold">
								Elan yerləşdirərək, Siz <a href="">
									bina.az-ın
									İstifadəçi
									razılaşması
								</a> ilə razı olduğunuzu
								təsdiq edirsiniz.
							</p>
							<button class="bg-danger text-light rounded px-3 py-2 mb-2">Elani deyis</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="section3 w-100 px-5">
		<div class="container w-75 p-3">
			<div class="elaqe w-100 d-flex justify-content-between pb-2">
				<a href="" class="text-dark">Reklam yerlesdirin</a>
				<div class="div1 d-flex justify-content-between">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-instagram"></i>
					<a href="" class="text-dark"><i class="fa-solid fa-envelope"></i> bina@bina.az</a>
					<div class="d-flex justify-content-between">
						<i class="fa-solid fa-phone"></i>
						<div class="ps-2">
							<a href="" class="d-block text-dark">(012) 599-08-02</a>
							<a href="" class="d-block text-dark">(012) 505-08-02</a>
						</div>
					</div>
				</div>
			</div>
			<div class="baki w-100 my-2">
				<h6>Bakinin rayonlari</h6>
				<div class="rayonlar">
					<a href="">Abseron</a>
					<a href="">Bineqedi</a>
					<a href="">Xetai</a>
					<a href="">Xezer</a>
					<a href="">Qaradaq</a>
					<a href="">Nerimanov</a>
					<a href="">Nesimi</a>
					<a href="">Nizami</a>
					<a href="">Pirallahi</a>
					<a href="">Sabuncu</a>
					<a href="">Sebail</a>
					<a href="">Suraxani</a>
					<a href="">Yasamal</a>
				</div>
			</div>
			<div class="azerbaycan">
				<h6>Butun Azerbaycan</h6>
				<div class="yuxari my-3">
					<a href="">Baki</a>
					<a href="">Xirdalan</a>
					<a href="">Sumqayit</a>
					<a href="">Qebele</a>
					<a href="">Quba</a>
					<a href="">Gence</a>
					<a href="">Xacmaz</a>
					<a href="">Ismayilli</a>
					<a href="">Seki</a>
					<a href="">Samaxi</a>
					<a href="">Lenkeran</a>
					<a href="">Qusar</a>
				</div>
				<div class="asagi">
					<a href="">Agcabedi</a>
					<a href="">Agdam</a>
					<a href="">Agdas</a>
					<a href="">Agdere</a>
					<a href="">Agstafa</a>
					<a href="">Agsu</a>
					<a href="">Astara</a>
					<a href="">Balaken</a>
					<a href="">Beyleqan</a>
					<a href="">Berde</a>
					<a href="">Bilesuvar</a>
					<a href="">Cebrayil</a>
					<a href="">Celilabad</a>
					<a href="">Daskesen</a>
					<a href="">Fizuli</a>
					<a href="">Gedebey</a>
					<a href="">Goranboy</a>
					<a href="">Goycay</a>
				</div>
			</div>
		</div>
	</section>

	<footer class="w-100 px-5">
		<div class="container w-75 d-flex justify-content-between text-light">
			<p>
				Saytın Administrasiyası reklam bannerlərinin və yerləşdirilmiş <br> elanların məzmununa görə məsuliyyət
				daşımır.
			</p>
			<p>© 2008-2023 Digital Classifieds MMC. VÖEN: 1405631661</p>
			<a href="" class="text-light">Mobil versiyası</a>
		</div>
	</footer>

</body>

</html>