<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="~/css/StyleSheet.css">
	<title>KOMPLEKSLER</title>
</head>

<body>
	<div class="basliq w-100">
		<div class="elaqe text-light d-flex">
			<div class="container w-75 pt-2 px-5">
				<p class="d-inline-block">Dəstək xidməti: (012) 599-08-02; (012) 505-08-02</p>
				<a href="" class="text-light mx-2">RU</a>
				<a href="/Home/Like" class="text-light mx-2"><i class="fa-solid fa-heart"></i> Secilmisler</a>
				<a href="/Admin/Giris" class="text-light mx-2"><i class="fa-solid fa-user"></i> Giris</a>
			</div>
		</div>
		<div class="secim1">
			<div class="container d-flex justify-content-between">
				<nav class="d-flex justify-content-between mx-auto">
					<ul>
						<li class="d-inline-block mx-2">
							<a href="/Home/Index" class="text-light">
								<img src="https://bina.azstatic.com/assets/application/header-tabs/binaaz-logo-107847efc4c9cede987e172b22034c7dc6893bf9bc1a4805b540a53b522031a2.svg">
							</a>
						</li>
						<li class="d-inline-block mx-2"><a href="/Home/AlqiSatqi" class="text-light">Alqi-satqi</a></li>
						<li class="d-inline-block mx-2"><a href="/Home/Kiraye" class="text-light">Kiraye</a></li>
						<li class="d-inline-block mx-2">
							<a href="/Home/Agentlik" class="text-light">Agentlikler</a>
						</li>
						<li class="d-inline-block mx-2">
							<a href="/Home/Kompleks" class="text-light">
								Yasayis
								kompleksleri
							</a>
						</li>
					</ul>
					<a href="/Home/ElanYerlesdir">
						<button class="text-light">
							<i class="fa-solid fa-plus p-1 rounded-circle me-2"></i>Elan
							yerlesdir
						</button>
					</a>
				</nav>
			</div>
		</div>
		<div class="secim3 w-100 px-5">
			<div class="container w-75 d-flex justify-content-between py-3">
				<h3>YAŞAYIŞ KOMPLEKSLƏRİ</h3>
				<div class="secimler d-flex justify-content-between">
					<a>Qiymetler 1 m2-ye gore</a>
					<a>Menzile gore</a>
				</div>
				<div class="ikonlar bg-white me-2 px-4">
					<a href="" class="text-dark me-1"><i class="fa-regular fa-map p-2"></i>Xerite</a>
					<a href="" class="text-dark"><i class="fa-solid fa-table-cells-large p-3"></i>Siyahi</a>
				</div>
				<select name="" id="" class="rounded">
					<option value="">Cesidleme</option>
					<option value="">Tarixe gore</option>
					<option value="">Evvelce ucuz</option>
					<option value="">Evvelce bahali</option>
				</select>
			</div>
		</div>
	</div>

	<section class="section1 w-100 px-5">
		<div class="container w-75 p-3">
			<div class="div3 w-100 d-flex flex-wrap">
				<div class="asagi w-100 d-flex flex-wrap justify-content-between">
					<div class="item m-2">
						<a href="">
							<div class="sekil w-100 position-relative">
								<img src="https://bina.azstatic.com/uploads/o460x345/2022%2F08%2F15%2F16%2F44%2F53%2F9c98427c-8fea-4fa6-bde0-99b7f910217f%2F1.jpg"
									 alt="" class="w-100">
							</div>
							<div class="yazilar p-2 w-100">
								<p><span>278 600</span><span>AZN-den</span></p>
								<p class="d-none"><span>3 050</span><span>AZN/m2-den</span></p>
								<p><i class="fa-regular fa-building"></i> Park Academy</p>
								<p><i class="fa-solid fa-location-dot"></i> Yasamal rayonu</p>
								<p><i class="fa-brands fa-meta"></i> Elmler Akcademiyasi</p>
								<p><i class="fa-solid fa-key"></i> Tehvil verilib</p>
							</div>
						</a>
					</div>
					<div class="item m-2">
						<a href="">
							<div class="sekil w-100 position-relative">
								<img src="https://bina.azstatic.com/uploads/o460x345/2023%2F01%2F18%2F11%2F55%2F55%2F04c18797-61b5-416e-b20b-b9a1b44c1b5d%2Fpark%20academy.jpg"
									 alt="" class="w-100">
							</div>
							<div class="yazilar p-2 w-100">
								<p><span>278 600</span><span>AZN-den</span></p>
								<p class="d-none"><span>3 050</span><span>AZN/m2-den</span></p>
								<p><i class="fa-regular fa-building"></i> Park Academy</p>
								<p><i class="fa-solid fa-location-dot"></i> Yasamal rayonu</p>
								<p><i class="fa-brands fa-meta"></i> Elmler Akcademiyasi</p>
								<p><i class="fa-solid fa-key"></i> Tehvil verilib</p>
							</div>
						</a>
					</div>
					<div class="item m-2">
						<a href="">
							<div class="sekil w-100 position-relative">
								<img src="https://bina.azstatic.com/uploads/o460x345/2022%2F10%2F07%2F15%2F19%2F40%2F4cfb3a76-8fc4-447a-8416-d2fd99aa9526%2Fbcrcover_main.jpg"
									 alt="" class="w-100">
							</div>
							<div class="yazilar p-2 w-100">
								<p><span>278 600</span><span>AZN-den</span></p>
								<p class="d-none"><span>3 050</span><span>AZN/m2-den</span></p>
								<p><i class="fa-regular fa-building"></i> Park Academy</p>
								<p><i class="fa-solid fa-location-dot"></i> Yasamal rayonu</p>
								<p><i class="fa-brands fa-meta"></i> Elmler Akcademiyasi</p>
								<p><i class="fa-solid fa-key"></i> Tehvil verilib</p>
							</div>
						</a>
					</div>
					<div class="item m-2">
						<a href="">
							<div class="sekil w-100 position-relative">
								<img src="https://bina.azstatic.com/uploads/o460x345/2022%2F06%2F03%2F16%2F09%2F41%2F3b34d081-5c1e-440e-a25c-11f30827397c%2F8.jpg"
									 alt="" class="w-100">
							</div>
							<div class="yazilar p-2 w-100">
								<p><span>278 600</span><span>AZN-den</span></p>
								<p class="d-none"><span>3 050</span><span>AZN/m2-den</span></p>
								<p><i class="fa-regular fa-building"></i> Park Academy</p>
								<p><i class="fa-solid fa-location-dot"></i> Yasamal rayonu</p>
								<p><i class="fa-brands fa-meta"></i> Elmler Akcademiyasi</p>
								<p><i class="fa-solid fa-key"></i> Tehvil verilib</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section3 w-100 px-5">
		<div class="container w-75 p-3">
			<div class="elaqe w-100 d-flex justify-content-between pb-2">
				<a href="" class="text-dark">Reklam yerlesdirin</a>
				<div class="div1 d-flex justify-content-between">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-instagram"></i>
					<a href="" class="text-dark"><i class="fa-solid fa-envelope"></i> bina@bina.az</a>
					<div class="d-flex justify-content-between">
						<i class="fa-solid fa-phone"></i>
						<div class="ps-2">
							<a href="" class="d-block text-dark">(012) 599-08-02</a>
							<a href="" class="d-block text-dark">(012) 505-08-02</a>
						</div>
					</div>
				</div>
			</div>
			<div class="baki w-100 my-2">
				<h6>Bakinin rayonlari</h6>
				<div class="rayonlar">
					<a href="">Abseron</a>
					<a href="">Bineqedi</a>
					<a href="">Xetai</a>
					<a href="">Xezer</a>
					<a href="">Qaradaq</a>
					<a href="">Nerimanov</a>
					<a href="">Nesimi</a>
					<a href="">Nizami</a>
					<a href="">Pirallahi</a>
					<a href="">Sabuncu</a>
					<a href="">Sebail</a>
					<a href="">Suraxani</a>
					<a href="">Yasamal</a>
				</div>
			</div>
			<div class="azerbaycan">
				<h6>Butun Azerbaycan</h6>
				<div class="yuxari my-3">
					<a href="">Baki</a>
					<a href="">Xirdalan</a>
					<a href="">Sumqayit</a>
					<a href="">Qebele</a>
					<a href="">Quba</a>
					<a href="">Gence</a>
					<a href="">Xacmaz</a>
					<a href="">Ismayilli</a>
					<a href="">Seki</a>
					<a href="">Samaxi</a>
					<a href="">Lenkeran</a>
					<a href="">Qusar</a>
				</div>
				<div class="asagi">
					<a href="">Agcabedi</a>
					<a href="">Agdam</a>
					<a href="">Agdas</a>
					<a href="">Agdere</a>
					<a href="">Agstafa</a>
					<a href="">Agsu</a>
					<a href="">Astara</a>
					<a href="">Balaken</a>
					<a href="">Beyleqan</a>
					<a href="">Berde</a>
					<a href="">Bilesuvar</a>
					<a href="">Cebrayil</a>
					<a href="">Celilabad</a>
					<a href="">Daskesen</a>
					<a href="">Fizuli</a>
					<a href="">Gedebey</a>
					<a href="">Goranboy</a>
					<a href="">Goycay</a>
				</div>
			</div>
		</div>
	</section>

	<footer class="w-100 px-5">
		<div class="container w-75 d-flex justify-content-between text-light">
			<p>
				Saytın Administrasiyası reklam bannerlərinin və yerləşdirilmiş <br> elanların məzmununa görə məsuliyyət
				daşımır.
			</p>
			<p>© 2008-2023 Digital Classifieds MMC. VÖEN: 1405631661</p>
			<a href="" class="text-light">Mobil versiyası</a>
		</div>
	</footer>

</body>

</html>